
h1, h2{
    color:white;
}

.question-and-score{
  color:white;
}

.outer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    background: url(img/helix.jpeg) 50% fixed;
    border: 0.1em #371d0d solid;
    background-size: cover;
    width: 80%
    
  }
  
.title-image{
        width: 100%;
        object-fit: contain;
}

.inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding:40px;
    border: 0.1em #371d0d solid;
    background:  white 100% no-repeat;
    background-size: cover;
    margin: 40px;
    width: 80%;
    height: 400px;

  }

  .heading{
    font-size: 30px;
    margin-bottom: 0;
  }

  fieldset{
    border: none;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
    padding: 0.5em;
    cursor: pointer;
  }
